<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Qingcheng</title>
    <link rel="stylesheet" href="../static/css/mystyle.css"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body class="body_bg">
<div class="whole">
    <div class="title">Please Enter Your New Password</div>
    <form id="form1" action="" method="post" class="form_box">
        <div class="input_tit">Your Account</div>
        <div class="input_box">
            <input class="input_self" type="text" name="account" id="account" />
        </div>
        <div class='blank_30'></div>
        <div class="input_tit">New Password</div>
        <div class="input_box">
            <input class="input_self" type="text" name="password" id="password" />
        </div>
        <div class="input_tit">Confirm Your New Password</div>
        <div class="input_box">
            <input class="input_self" type="text" name="ConfirmNewPassword" id="ConfirmPassword" />
        </div>
        <div class="finish_box">
            <input class="finish_btn" type="button" id="finish" name="finish" value="Finish" onclick="get()"/>
        </div>
    </form>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $(window).on('resize load',function(){
            var win_height = $(window).height();
            var whole_height = $(".whole").height();
            $(".whole").css('top',win_height/2 - whole_height/2 - 40 + 'px')
        })
    })
</script>
</html>